<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Autowriter</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Autowriter.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-page="/Index">Autowriter</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
