@page
@model Details

@{
    ViewData["Title"] = "AutoWriter | Upload";
    var created = @Model.Data.Created.ToLocalTime();
}

<div>
    <h1>Source material detail</h1>
    <form method="post">
            <div>
                <p>Uploaded on @created.ToString("D") at @created.ToString("T") <input type="submit" value="Delete"></p>
            </div>
            <textarea name="text">@Model.Data.Content</textarea>
    </form>
</div>
