@using Autowriter
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Autowriter</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Autowriter.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1><a asp-controller="Home">Autowriter</a></h1>
        <nav>
            <ul>
                <li>
                    <a asp-controller="Home">Home</a>
                </li>
                <li>
                    <a asp-controller="Upload">Upload</a>
                </li>
                <li>
                    <a asp-controller="Generate">Generate</a>
                </li>
            </ul>
            <ul id="auth-links">
                <li>
                    <a asp-controller="Login">Login</a>
                </li>
                <li>
                    <a asp-controller="Register">Register</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
