@model Autowriter.Features.Upload.Index.ViewModel

@{
    ViewData["Title"] = "AutoWriter | Upload";
}

<div>
    <h1>Upload source material</h1>
    <p>
        Before you can generate writing, you will need to upload some source material!
    </p>
</div>
