<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Autowriter</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Autowriter.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1><a asp-page="/">Autowriter</a></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/upload">Upload source material</a>
                </li>
                <li>
                    <a href="/generate">Generate writing</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
