@page
@{
    ViewData["Title"] = "AutoWriter | Login";
}
@model Login

<h1>Please authenticate yourself</h1>

In order to use this site, you need to <a href="/user/login">login</a> or <a href="/user/register">register</a>.

<form method="post">
    <div>
        <label for="email">Email:</label>
        <input name="email" type="email" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input name="password" type="password" />
    </div>
    <input type="submit" value="Login" />
</form>
