@page
@{
    ViewData["Title"] = "AutoWriter | Register";
}
@model Register

<h1>Please register</h1>
<form method="post">
    <div>
        <label for="email">Email:</label>
        <input name="email" type="email" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input name="password" type="password" />
    </div>
    <input type="submit" value="Register" />
</form>

@if(Model.Data.Errors.Any())
{
    <h1>Error creating user:</h1>
    foreach (var error in Model.Data.Errors)
    {
        @error
    }
}
