@page
@{
    ViewData["Title"] = "AutoWriter | Login";
}
@model Login

<h1>Please authenticate yourself</h1>

In order to use this site, you need to <a asp-page="Login">login</a> or <a asp-page="Register">register</a>.

<form method="post">
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" autofocus="@(Model.Email is null)"/>
        <span class="red" asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" autofocus="@(Model.Email is not null)"/>
        <span class="red" asp-validation-for="Password"></span>
    </div>
    <input type="submit" value="Login" />
</form>

