@page
@model Index

@{
    ViewData["Title"] = "AutoWriter | Generate";
    var sourceCount = Model.Data.NumberOfSources;
    var writing = Model.Data.Writing;
}

<div>
    <h1>Generate writing</h1>

    @if (@sourceCount == 0)
    {
        <p>You need to <a href="/upload">upload some source material</a> before you can generate some writing from it!</p>
    }
    else
    {
        <p>You have uploaded @sourceCount piece@(sourceCount == 1 ? "" : "s") of source material so far.</p>
        <p>
            Why not generate something?
            <form method="post">
                <label for="wordcount">Word count:</label>
                <input type="range" min="1" max="10000" value="@Model.Data.RequestedNumberOfWords" name="wordcount">
                <input type="submit" value="generate" />
            </form>
            @if (Model.Data.WordCountOutOfRange)
            {
                <span class="error">Word count was out of range</span>
            }
        </p>
    }

    @if (writing != null)
    {
        <h2>Generated writing</h2>
        <p>Generated on @writing.Created.ToString("D") at @writing.Created.ToString("t")</p>
        <p>@writing.Content</p>
    }
</div>
